<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NUnitEntities" connectionString="metadata=res://*/Test.Inputs.Models.NUnitModel.csdl|res://*/Test.Inputs.Models.NUnitModel.ssdl|res://*/Test.Inputs.Models.NUnitModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRUNO\BRUNOSERVER;initial catalog=NUnit;user id=nunit;password=nunit;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NUnitEntities1" connectionString="metadata=res://*/Test.Inputs.Models.NUnitModel.csdl|res://*/Test.Inputs.Models.NUnitModel.ssdl|res://*/Test.Inputs.Models.NUnitModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRUNO\BRUNOSERVER;initial catalog=NUnit;user id=nunit;password=nunit;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>